.profile {
  margin: 36px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:680px) {
  .profile {
    flex-direction: column;
    max-width: calc(100% - 2*19px);
    margin-top: 42px;
  }
}
