.header__logo {
  margin: 0;
  width: 142px;
  height: 33px;
  background-image: url(../../../images/logo.svg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 680px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-top: 28px;
    margin-left: 27px;
  }
}
