.profile__button_type_edit {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-left: 25px;
  background: url(../../../../images/Edit-Button.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 680px) {
  .profile__button_type_edit {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}
